{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="container text-center>  
  <?xml version="1.0" encoding="utf-8"?>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            style="
            margin: auto;
            background: none;
            display: block;
            shape-rendering: auto;
            "
            width="200px"
            height="200px"
            viewBox="0 0 100 100"   
            preserveAspectRatio="xMidYMid"
        >
            <g transform="translate(50 50)">
            <path
                fill="#ff001d"
                transform="scale(0.8)"
                d="M40.7-34.3c-9.8-9.8-25.6-9.8-35.4,0L0-29l-5.3-5.3c-9.8-9.8-25.6-9.8-35.4,0l0,0c-9.8,9.8-9.8,25.6,0,35.4l5.3,5.3L-23,18.7l23,23l23-23L35.4,6.3L40.7,1C50.4-8.8,50.4-24.6,40.7-34.3z"
            >
                <animateTransform
                attributeName="transform"
                type="scale"
                repeatCount="indefinite"
                dur="2s"
                keyTimes="0;0.05;0.39;0.45;0.6;1"
                values="0.68;0.8;0.6000000000000001;0.7200000000000001;0.68;0.6400000000000001"
                calcMode="spline"
                keySplines="0.215 0.61,0.355 1;0.215 0.61,0.355 1;0.215 0.61,0.355 1;0.215 0.61,0.355 1;0.215 0.61,0.355 1"
                ></animateTransform>
            </path>
            </g>
        </svg>
</div>
<div class="container text-center">
    <h1>{{ user.user1 }} & {{ user.user2}} makes a perfect couple!</h1>
    <h4 id="wait" style="display: block;">Please Wait! We are compiling yur love letter!</h4>
    <a href="{% url 'letter' user.letterId %}"><button id="clickbtn" class="btn btn-outline-primary" style="display: none;">Click Me!</button></a>
    <span data-id={{user.letterId}} hidden></span>
</div>
{% endblock %} 

{% block script %}
    <script src="{% static 'js/load.js' %}"></script>
{% endblock %}
